{%  block footer %}
    <div id="footer">
        <p class="text-right text-muted">
            v 1.0.0.3 | Powered by Quality Engineering & Innovation |
            <i class="fa fa-bell" style="color: lightseagreen;"></i>&nbsp;<a
                    href="http://jira.west.com/browse/krak">Report</a>&nbsp;|&nbsp;
            <i class="fa fa-envelope text-primary" style="color: lightseagreen;"></i>&nbsp;<a
                    href="mailto:QEIInnovation@west.com?subject=Kraken Feedback">Contact</a>&nbsp;|&nbsp;
            <i class="fa fa-question" style="color: lightseagreen;"></i>&nbsp;<a href="{% url 'help:help_faq' %}">FAQ</a>
        </p>
    </div>
{% endblock %}