{% extends 'core/base.html' %}
{% block title %}Home{% endblock %}
{% block headscript %}

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Welcome to Kraken!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <button id="button_create_client" type="button" class="btn btn-success content-header-button"
                            data-toggle="modal" style="width: 100%;"
                            data-target="#modal_create_client"><i class="fa fa-plus fa-fw"></i>&nbsp;Client
                </button>
            </div>
            <div class="col-xs-3">
                <a href="{% url 'schemas:create_schema' '1' %}" id="buttonCreateSchema" class="btn btn-success" style="width: 100%;">
                    <i class="fa fa-plus"></i>&nbsp;Schema
                </a>
            </div>
            <div class="col-xs-3">
                <button id="buttonCreateVersion" class="btn btn-success" style="width: 100%;">
                    <i class="fa fa-plus"></i>&nbsp;Version
                </button>
            </div>
            <div class="col-xs-3">
                <button id="buttonCreateFile" class="btn btn-success" style="width: 100%;">
                    <i class="fa fa-plus"></i>&nbsp;File
                </button>
            </div>
        </div>

        <div id="cliens_list">
            <br><br>
            {% for client in clients %}
                {{ client.name }} <br>
            {% endfor %}
        </div>

    </div>



    {% include 'core/modal_client.html' %}

{% endblock %}
{% block endscript %}
    <script type="text/javascript">

        {% include 'core/core.js' %}

        $(function () {
            $("#buttonCreateClient").click(function (eventObj) {
                $.post("{% url 'core:create_client' %}", { client_name: "CVS" })
                        .done(function (data) {
                            alert(data);
                        })
                        .fail(function (data) {
                            alert(data);
                        });
            });
{#            $("#buttonCreateSchema").click(function (eventObj) {#}
{#                $.post("{% url 'schemas:create_schema' %}", { client_id: "1" })#}
{#                        .done(function (data) {#}
{#                            alert(data);#}
{#                        })#}
{#                        .fail(function (data) {#}
{#                            alert(data);#}
{#                        });#}
{#            });#}
            $("#buttonCreateVersion").click(function (eventObj) {
                $.post("{% url 'schemas:create_version' %}", { version: "1.0" })
                        .done(function (data) {
                            alert(data);
                        })
                        .fail(function (data) {
                            alert(data);
                        });
            });
            $("#buttonCreateFile").click(function (eventObj) {
                $.post("{% url 'schemas:create_file' %}", { file_name: "File Name" })
                        .done(function (data) {
                            alert(data);
                        })
                        .fail(function (data) {
                            alert(data);
                        });
            });
        });
    </script>
{% endblock %}
