{% extends 'core/base.html' %}
{% block title %}Home{% endblock %}
{% block headscript %}

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Client Navigator</h3>
            </div>
        </div>
        <br>
{#        <div class="row">#}
{#            <div class="col-xs-3">#}
{#                <button id="button_create_client" type="button" class="btn btn-success content-header-button"#}
{#                            data-toggle="modal" style="width: 100%;"#}
{#                            data-target="#modal_create_client"><i class="fa fa-plus fa-fw"></i>&nbsp;Client#}
{#                </button>#}
{#            </div>#}
{#            <div class="col-xs-3">#}
{#                <a href="{% url 'schemas:create_schema' '1' %}" id="buttonCreateSchema" class="btn btn-success" style="width: 100%;">#}
{#                    <i class="fa fa-plus"></i>&nbsp;Schema#}
{#                </a>#}
{#            </div>#}
{#            <div class="col-xs-3">#}
{#                <button id="buttonCreateVersion" class="btn btn-success" style="width: 100%;">#}
{#                    <i class="fa fa-plus"></i>&nbsp;Version#}
{#                </button>#}
{#            </div>#}
{#            <div class="col-xs-3">#}
{#                <button id="buttonCreateFile" class="btn btn-success" style="width: 100%;">#}
{#                    <i class="fa fa-plus"></i>&nbsp;File#}
{#                </button>#}
{#            </div>#}
{#        </div>#}

{#        <div id="cliens_list">#}
{#            <br><br>#}
{#            {% for client in clients %}#}
{#                {{ client.name }} <br>#}
{#            {% endfor %}#}
{#        </div>#}

        <div class="row">
            <div class="col-xs-12">
                <div id="columns"></div>
            </div>
        </div>
    </div>

    {% include 'core/modal_client.html' %}

{% endblock %}
{% block endscript %}
    <script type="text/javascript">

        {% include 'core/core.js' %}

        $(function () {
            $("#columns").hColumns({
                nodeSource: function(node_id, callback) {
                    // callback is a function that receive two parameter
                    // callback(error, array of nodes);

                    var clientIdPrefix = 1000000;
                    var schemaIdPrefix = 2000000;
                    var versionIdPrefix = 3000000;
                    var fileIdPrefix = 4000000;
                    var editVersion = 5000000;

                    // if inital load
                    if(node_id === null) {
                        return callback(null, [
                            { id: clientIdPrefix, label: "New Client", type: "create_client" },
                            {% for client in clients %}
                                { id: clientIdPrefix + {{ client.id }}, label: "{{ client.name }}", type: "folder" },
                            {% endfor %}
                        ]);
                    }

                    {% for client in clients %}
                        if(node_id === clientIdPrefix + {{ client.id }}) {
                            return callback(null, [
                                { id: schemaIdPrefix, label: "New Schema", type: "create", url: "{% url 'schemas:create_schema' client.id %}" },
                                {% for schema in client.schemas %}
                                    { id: schemaIdPrefix + {{ schema.id }}, label: "{{ schema.name }}", type: "folder" },
                                {% endfor %}
                            ]);
                        }
                        {% for schema in client.schemas %}
                            if (node_id === schemaIdPrefix + {{ schema.id }}) {
                                return callback(null, [
                                    { id: versionIdPrefix, label: "New Version", type: "create", url: "{% url 'schemas:create_version' client.id schema.id %}" },
                                    {% for version in schema.versions %}
                                        { id: versionIdPrefix + {{ version.id }}, label: "{{ version.identifier }}", type: "folder" },
                                    {% endfor %}
                                ]);
                            }
                            {% for version in schema.versions %}
                                if (node_id === versionIdPrefix + {{ version.id }}) {
                                    return callback(null, [
                                        { id: editVersion, label: "Edit Version", type: "edit", url: "{% url 'schemas:edit_version' client.id schema.id version.id %}" },
                                        { id: fileIdPrefix, label: "New File", type: "create", url: "{% url 'schemas:create_file' client.id schema.id version.id %}" },
                                        {% for file in version.files %}
                                            { id: fileIdPrefix + {{ file.id }}, label: "{{ file.name }}", type: "file", url: "{% url 'schemas:download_file' client.id schema.id version.id file.id %}" }
                                        {% endfor %}
                                    ]);
                                }
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                }
            });
        });
    </script>
{% endblock %}
