{% extends 'core/base.html' %}
{% load staticfiles %}
{% block title %}File Editor{% endblock %}
{% block headscript %}
    <style>
        .table-responsive {
            min-height: .01%;
            overflow-x: auto;
        }

        #tableData {
            max-width: 100%;
        }
        #tableData td {
            min-width: 180px;
        }
    </style>
    <script type="text/javascript" src="{% static 'common/mockjson/js/jquery.mockjson.js' %}"></script>
    <script type="text/javascript">
        function specifyModal(element) {
            var value = element.value;
            var modalButton = $(element).closest('tr').find('.data-generator-params > a')[0];
            modalButton.setAttribute("data-target", "#" + value.replace(/ /g, "-").toLowerCase() + "-modal");
            console.log(modalButton.getAttribute("data-target"))
        }
    </script>
{% endblock %}
{% block content %}
    <div class="container">
    <form action="{% url 'schemas:save_file' client.id schema.id version.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="client_id" value="{{ client.id }}">
        <input type="hidden" name="schema_id" value="{{ schema.id }}">
        <input type="hidden" name="version_id" value="{{ version.id }}">
        <input type="hidden" name="state" value="{{ state }}">
        <input type="hidden" name="fields_total_length" id="fields_total_length" value="{{ version.schema_fields_total_length }}">
        <div class="row">
            <div class="col-xs-6">
                <h3>{{ client.name }}</h3>
            </div>
            <div class="col-xs-4" id="errMsg"></div>
            <div class="col-xs-2">
                <button type="submit" name="save_file" class="btn btn-primary" style="width: 100%;">
                    <i class="fa fa-floppy-o"></i>&nbsp;Save
                </button>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-xs-12">
                <textarea class="form-control" rows="5" id="textareaViewer" name="textareaViewer"
                          style="font-family: 'courier new', monospace; background-color: #ffffff; cursor: auto;"></textarea>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-xs-5">
                <div class="form-group">
                    <label class="control-label" for="id_name">File Name</label>
                    {{ file_form.name }}
                </div>
            </div>
            <div class="col-xs-2">
                <label class="control-label">Schema Name</label><br>
                <div style="line-height: 38px;">{{ schema.name }}</div>
            </div>
            <div class="col-xs-1">
                <label class="control-label">Version</label><br>
                <div style="line-height: 38px;">{{ version.identifier }}</div>
            </div>
            <div class="col-xs-2">
                <label class="control-label">Delimiter</label><br>
                <div style="line-height: 38px;">{{ version.delimiter }}</div>
            </div>
            <div class="col-xs-2">
                <label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;Validation</label><br>
                <button type="button" name="validation_schema_to_input" id="validation_input_to_schema" class="btn btn-success btn-sm" style="width: 40%;" title="Generate Schema based on Input">Input</button>
                <button type="button" name="validation_input_to_schema" id="validation_schema_to_input" class="btn btn-success btn-sm" style="width: 40%" title="Generate Input based on Schema">Schema</button>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-xs-4">
                <label for="inputRecordNumber" class="control-label">How many records to generate?&nbsp;</label>
                <input id="inputRecordNumber" type="text" class="form-control input-sm" style="width: 50px; display: inline; text-align: center;">
            </div>
            <div class="col-xs-2">
                <button type="button" id="buttonGenerate" class="btn btn-success btn-sm" style="width: 100%;">Generate&nbsp;<i class="fa fa-arrow-circle-o-right fa-fw"></i></button>
            </div>
            <div class="col-xs-6">
{#                <div class="btn-group btn-group-justified">#}
{#                    <a href="#" class="btn btn-default btn-sm"><i class="fa fa-angle-double-left"></i></a>#}
{#                    <a href="#" class="btn btn-default btn-sm"><i class="fa fa-angle-double-right"></i></a>#}
{#                </div>#}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {% if fields %}
                    <table id="" class="table">
                        <thead>
                            <tr>
                                <th class="col-xs-6">Field Name</th>
                                <th class="col-xs-3">Field Type</th>
                                <th class="col-xs-2">Parameters</th>
                                <th class="col-xs-1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for field in fields %}
                            <tr>
                                <td style="line-height: 38px;">
                                {{ field.name }}
                                <input type="hidden" id="field_type_{{ field.position|add:-1 }}" name="field_type_{{ field.position|add:-1 }}" value="{{ field.type }}">
                                <input type="hidden" id="field_length_{{ field.position|add:-1 }}" name="field_length_{{ field.position|add:-1 }}" value="{{ field.length }}">
                                </td>
                                <td class="data-generator-select">
                                    <select class="form-control" onchange="specifyModal(this)">
                                        {% for type in field_types %}
                                            <option data-payload="{}">{{ type }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td class="text-center data-generator-params" style="line-height: 38px;">
                                    <a href="#" data-toggle="modal" data-target="#random-text-modal"><i class="fa fa-pencil-square-o fa-lg"></i></a>
                                </td>
                                <td class="text-right" style="line-height: 38px;">
                                    <a href="#"><i class="fa fa-arrow-circle-o-right fa-lg"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <br><br>
                <p> No fields have been added to this schema version.</p>
            {% endif %}
            </div>
            <div class="col-md-6">
                <div class="table-responsive" id="add_records" style="overflow: auto;">

                </div>
            </div>
        </div>
    </form>

    </div>
    <div class="modal fade" id="random-text-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Random text</h4>
                    </div>
                    <div class="modal-body">
                        <label class="control-label">Minimum length</label><input class="form-control" name="min-length" />
                        <label class="control-label">Maximum length</label><input class="form-control" name="max-length" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary param-save">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="number-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Number</h4>
                    </div>
                    <div class="modal-body">
                        <label class="control-label">Minimum</label><input class="form-control" name="min" />
                        <label class="control-label">Maximum</label><input class="form-control" name="max" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary param-save">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="user-defined-list-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">User Defined List</h4>
                    </div>
                    <div class="modal-body">
                        <label class="control-label">List</label><textarea name="list" class="form-control" rows=6 placeholder="Enter one per line"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary param-save">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="first-name-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">First Name</h4>
                    </div>
                    <div class="modal-body">
                        <p>No options are currently available for this data generator.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary param-save">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="last-name-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Last Name</h4>
                    </div>
                    <div class="modal-body">
                        <p>No options are currently available for this data generator.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary param-save">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="address-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Address</h4>
                    </div>
                    <div class="modal-body">
                        <p>No options are currently available for this data generator.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary param-save">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="zip-code-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">ZIP Code</h4>
                    </div>
                    <div class="modal-body">
                        <p>No options are currently available for this data generator.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary param-save">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block endscript %}
    <script type="text/javascript">
        {% include 'schemas/schemas.js' %}
    </script>
{% endblock %}