{% extends 'core/base.html' %}
{% load staticfiles %}
{% block title %}File Editor{% endblock %}
{% block headscript %}
    <style>
        .table-responsive {
            min-height: .01%;
            overflow-x: auto;
        }

        #tableData {
            max-width: 100%;
        }
        #tableData td {
            min-width: 180px;
        }
    </style>
    <script type="text/javascript" src="{% static 'common/mockjson/js/jquery.mockjson.js' %}"></script>
    <script type="text/javascript">
        function specifyModal(element) {
            var value = element.value;
            var columns_params = {{ column_parameters | safe }};
            var select = $(element).closest('tr').find('.data-generator-params > select');
            var field_type = $(element).closest('tr').find("input[name^='field_type_']").val();
            switch (value) {
                case 'Text':
                    updateColumnParams(select, columns_params['text'], 'text');
                    break;
                case 'Number':
                    updateColumnParams(select, columns_params['number'], 'number');
                    break;
                case 'Custom List':
                    updateColumnParams(select, columns_params['custom_list'], 'custom');
                    break;
                case 'ZIP Code':
                    if (field_type == 'Text'){
                        updateColumnParams(select, columns_params['zipcode_text'], 'zipcode');
                    } else if (field_type == 'Number') {
                        updateColumnParams(select, columns_params['zipcode_number'], 'zipcode');
                    }
                    break;
                default:
                    updateColumnParams(select, columns_params['others'], 'others');
            }
        }
        function updateColumnParams(select, options, prefix){
            select.empty();
            if (prefix != 'others'){
                select.append($("<option></option").
                        attr({
                            selected: "selected",
                            value: "specify"
                        }).text("- Select -"));
            }
            $.each(options, function(k, v){
                select.append($("<option></option").attr("value", prefix+'_'+v).text(k));
            });
        }

        function openParamsModal(element, field_type, field_length) {
            $('#field_type').val(field_type);
            $('#field_length').val(field_length);
            window.currentRow = $(element).closest('tr');

            var value = element.value;
            var record_number = $('#inputRecordNumber').val();
            switch (value) {
                case 'text_manual':
                    $('#textErrMessage').html('');
                    if (Number(record_number) == 0 || !$.isNumeric(record_number)) {
                        showModalErrMsg('#textErrMessage', 'How many records to generate?');
                    }
                    $('#text-manual-modal').modal('show');
                    break;
                case 'text_fill':
                    $('#textFillMessage').html('');
                    $('#text-fill-modal').modal('show');
                    break;
                case 'number_fill':
                    $('#numberFillErrMessage').html('');
                    $('#number-fill-modal').modal('show');
                    break;
                case 'number_increment':
                    $('#numberIncrementErrMessage').html('');
                    $('#number-increment-modal').modal('show');
                    break;
                case 'number_manual':
                    $('#numberErrMessage').html('');
                    if (Number(record_number) == 0 || !$.isNumeric(record_number)) {
                        showModalErrMsg('#numberErrMessage', 'How many records to generate?');
                    }
                    $('#number-manual-modal').modal('show');
                    break;
                case 'number_random':
                    $('#numberRandomErrMessage').html('');
                    $('#number-random-modal').modal('show');
                    break;
                case 'custom_inorder':
                    $('#customInorderErrMessage').html('');
                    $('#custom-inorder-modal').modal('show');
                    break;
                case 'custom_random':
                    $('#customRandomErrMessage').html('');
                    $('#custom-random-modal').modal('show');
                    break;
                default:
                    break;
            }
        }

        function saveDataPayload(event) {
            event.preventDefault();
            var form = $(event.target);
            var field_type = $('#field_type').val();
            var field_length = $('#field_length').val();
            var file_column = window.currentRow.find('.data-generator-select > select').val();
            var column_config = window.currentRow.find('.data-generator-params > select').val();

            //console.log(field_type, field_length, file_column, column_config);
            if (file_column == 'Text') {
                if (column_config == 'text_fill') {
                    var input = $(this).find("input[name='inputFill']").val();

                    if (!input) {
                        showModalErrMsg('#textFillErrMessage', 'No inputs');
                        return false;
                    } else if (input.length > field_length) {
                        showModalErrMsg('#textFillErrMessage', input + ' exceeds length limit of ' + field_length.toString());
                        return false;
                    } else if (!$.isNumeric(input) && field_type == 'Number') {
                        showModalErrMsg('#textFillErrMessage', input + 'violates numeric constraint');
                        return false;
                    } else if (version_delimiter == 'Comma' && ($.inArray(',', input) > -1 )) {
                        showModalErrMsg('#textFillErrMessage', 'Input cannot include comma \',\'');
                        return false;
                    }
                }

            } else if (file_column == 'Number') {
                if (column_config == 'number_random') {
                    $("#numberRandomErrMessage").html('');
                    var min = $(this).find("input[name='min']").val();
                    var max = $(this).find("input[name='max']").val();
                    if (!min || !max) {
                        showModalErrMsg('#numberRandomErrMessage', 'Both minimum and maximum are required fields.');
                        return false;
                    } else if (!$.isNumeric(min) || !$.isNumeric(max)) {
                        showModalErrMsg('#numberRandomErrMessage', 'Minimum and maximum must both be numbers');
                        return false;
                    } else if (min.length > field_length || max.length > field_length){
                        showModalErrMsg('#numberRandomErrMessage', 'Data generated will be longer than the schema length constraint of ' + field_length.toString());
                        return false;
                    } else if (Number(min) > Number(max)) {
                        showModalErrMsg('#numberRandomErrMessage', 'Minimum is less than maximum');
                        return false;
                    }
                } else if (column_config == 'number_increment') {
                    $('#numberIncrementErrMessage').html('');
                    var input = $(this).find("input[name='inputIncrement']").val();
                    if (!input) {
                        showModalErrMsg('#numberIncrementErrMessage', 'Please enter an initial value.');
                        return false;
                    } else if (!$.isNumeric(input)) {
                        showModalErrMsg('#numberIncrementErrMessage', 'Initial value is not a number.');
                        return false;
                    } else if (input.length > field_length) {
                        showModalErrMsg('#numberIncrementErrMessage', 'Data generated will be longer than the schema length constraint of ' + field_length.toString());
                        return false;
                    }
                } else if (column_config == 'number_fill') {
                    $('#numberFillErrMessage').html('');
                    var input = $(this).find("input[name='inputFill']").val();
                    if (!input || !$.isNumeric(input)) {
                        showModalErrMsg('#numberFillErrMessage', 'Input must be numeric.');
                        return false;
                    } else if (input.length > field_length) {
                        showModalErrMsg('#numberFillErrMessage', 'Data generated will be longer than the schema length constraint of ' + field_length.toString());
                        return false;
                    }
                }

            } else if (file_column == 'Custom List') {
                var input = $(this).find("textarea[name='list']").val();
                if (column_config == 'custom_random') {
                    $('#customeRandomErrMessage').html('');
                    if (!input) {
                        showModalErrMsg('#customRandomErrMessage', 'List cannot be blank');
                        return false;
                    } else {
                        var lines = input.split('\n');
                        for (var i = 0; i < lines.length; i++) {
                            if (lines[i].length > field_length) {
                                showModalErrMsg('#customRandomErrMessage', 'Input of Line {0} exceeds length constraint of {1}'.format(i+1, field_length));
                                return false;
                            } else if (!$.isNumeric(lines[i]) && field_type == 'Number') {
                                showModalErrMsg('#customRandomErrMessage', 'Line \'{0}\' should be a number'.format(lines[i]));
                                return false;
                            } else if (version_delimiter == 'Comma' && ($.inArray(',', lines[i]) > -1 )) {
                                showModalErrMsg('#customRandomErrMessage', 'Input of Line {0} cannot include comma \',\''.format(i+1));
                                return false;
                            }
                        }
                    }
                } else if (column_config == 'custom_inorder'){
                    $('#customInorderErrMessage').html('');
                    if (!input) {
                        showModalErrMsg('#customInorderErrMessage', 'List cannot be blank');
                        return false;
                    } else {
                        var lines = input.split('\n');
                        for (var i = 0; i < lines.length; i++) {
                            if (lines[i].length > field_length) {
                                showModalErrMsg('#customInorderErrMessage', 'Input of Line {0} exceeds length constraint of {1}'.format(i+1, field_length));
                                return false;
                            } else if (!$.isNumeric(lines[i]) && field_type == 'Number') {
                                showModalErrMsg('#customInorderErrMessage', 'Option {0} should be a number'.format(lines[i]));
                                return false;
                            } else if (version_delimiter == 'Comma' && ($.inArray(',', lines[i]) > -1 )) {
                                showModalErrMsg('#customInorderErrMessage', 'Input of Line {0} cannot include comma \',\''.format(i+1));
                                return false;
                            }
                        }
                    }
                }
            }

            window.currentRow.find(".data-generator-params > select ")[0].setAttribute('data-payload',
                JSON.stringify(form.serializeArray()));
            form.closest(".modal").modal('hide');
        }

        function saveManualTextData(event) {
            event.preventDefault();
            var form = $(event.target);
            var record_number = $('#inputRecordNumber').val();
            var field_type = $('#field_type').val();
            var field_length = $('#field_length').val();
            //var file_column = window.currentRow.find('.data-generator-select > select').val();
            //var column_config = window.currentRow.find('.data-generator-params > select').val();

            //console.log(field_type, field_length, file_column, column_config);

            var error_found = false;
            var manual_text = $("#text-manual-modal form input");
            $.each(manual_text, function (index, value) {
                var input = $(value).val();
                if (input == '') {
                    showModalErrMsg('#textErrMessage', 'No input of Record{0}'.format(index+1));
                    error_found = true;
                    return false;
                } else if (input.length > field_length) {
                    showModalErrMsg('#textErrMessage', 'Length of Record{0} exceed limitation'.format(index+1));
                    error_found = true;
                    return false;
                } else if (version_delimiter == 'Comma' && $.inArray(',', input) > -1 ) {
                    showModalErrMsg('#textErrMessage', 'Input of Record {0} cannot include comma.'.format(index+1));
                    error_found = true;
                    return false;
                } else if (!$.isNumeric(input) && field_type == 'Number' && index < Number(record_number)) {
                    showModalErrMsg('#textErrMessage', 'Input of Record{0} should be number'.format(index+1));
                    error_found = true;
                    return false;
                }
            });
            if (error_found) {
                return false;
            }

            var data = [];
            $.each(manual_text, function(index, value) {
                data.push($(value).val());
            });
            window.currentRow.find(".data-generator-params > select ")[0].setAttribute('data-payload',
                JSON.stringify(data));
            form.closest(".modal").modal('hide');
        }

        function saveManualNumberData(event) {
            event.preventDefault();
            var form = $(event.target);
            var record_number = $('#inputRecordNumber').val();
            var field_type = $('#field_type').val();
            var field_length = $('#field_length').val();

            var manual_text = $("#number-manual-modal form input");
            var error_found = false;
            $.each(manual_text, function (index, value) {
                var input = $(value).val();
                if (input == '' && index < Number(record_number)) {
                    showModalErrMsg('#numberErrMessage', 'No input of Record{0}'.format(index+1));
                    error_found = true;
                    return false;
                } else if (input.length > field_length && index < Number(record_number)) {
                    showModalErrMsg('#numberErrMessage', 'Length of Record{0} exceed limitation'.format(index+1));
                    error_found = true;
                    return false;
                } else if (!$.isNumeric(input) && index < Number(record_number)) {
                    showModalErrMsg('#numberErrMessage', 'Input of Record{0} should be number'.format(index+1));
                    error_found = true;
                    return false;
                }
            });
            if (error_found) {
                return false;
            }

            var data = [];
            $.each(manual_text, function(index, value) {
                data.push($(value).val());
            });
            window.currentRow.find(".data-generator-params > select ")[0].setAttribute('data-payload',
                JSON.stringify(data));
            form.closest(".modal").modal('hide');
        }

        $(function() {
            //$(".fa-pencil-square-o").on('click', openModal);
            $(".data-generator-form").on('submit', saveDataPayload);
            $(".data-generator-form-text").on('submit', saveManualTextData);
            $(".data-generator-form-number").on('submit', saveManualNumberData);

            $('#text-manual-modal').on('show.bs.modal', function(event){
                var record_number = $('#inputRecordNumber').val();
                // generate empty cell for user manully input
                generate_empty_records_modal(record_number, '#text-manual-input');

                try {
                    var p = $.parseJSON(window.currentRow.find(".data-generator-params > select ")[0].getAttribute("data-payload"));
                    for (var i = 0; i < p.length; i++) {
                        $('#text' + i).val(p[i]);
                    }
                } catch (e) {
                    ;
                }
            });

            $('#number-manual-modal').on('show.bs.modal', function(event){
                var record_number = $('#inputRecordNumber').val();
                // generate empty cell for user manully input
                generate_empty_records_modal(record_number, '#number-manual-input');

                try {
                    var p = $.parseJSON(window.currentRow.find(".data-generator-params > select ")[0].getAttribute("data-payload"));
                    for (var i = 0; i < p.length; i++) {
                        $('#number' + i).val(p[i]);
                    }
                } catch (e) {
                    ;
                }
            });

            try {
                var payloads = $.parseJSON('{{ payloads|safe }}');
            } catch (e) {
                ;
            }
        });
    </script>
{% endblock %}
{% block content %}
    <div class="container">
    <form action="{% url 'schemas:create_file' client.id schema.id version.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="client_id" value="{{ client.id }}">
        <input type="hidden" name="schema_id" value="{{ schema.id }}">
        <input type="hidden" name="version_id" value="{{ version.id }}">
        {% if file %}
            <input type="hidden" name="file_id" value="{{ file.id }}">
        {% endif %}
        <input type="hidden" name="state" value="{{ state }}">
        <input type="hidden" name="payloads" value="">
        <input type="hidden" name="fields_total_length" id="fields_total_length" value="{{ version.schema_fields_total_length }}">
        <div class="row">
            <div class="col-xs-5">
                <h3>{{ client.name }}</h3>
            </div>
            <div class="col-xs-4" id="errMsg"></div>
            <div class="col-xs-1">
                <button type="button" name="validation_schema_to_input" id="validation_input_to_schema" class="btn btn-success btn-sm" style="width: 100%;" title="Validate Inputs">Validate</button>
            </div>
            <div class="col-xs-1">
                <button type="submit" name="save_file" class="btn btn-primary btn-sm" style="width: 100%;" {% if file %}title="Save to file" {% else %} title="Create new file" {% endif %}>
                    <i class="fa fa-floppy-o"></i>&nbsp;Save
                </button>
            </div>
            <div class="col-xs-1">
                {% if file %}
                <button type="submit" name="download_file" class="btn btn-primary btn-sm" style="width: 100%;" title="Export file">
                    Export
                </button>
                {% endif %}
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-xs-12">
                <textarea class="form-control" rows="5" id="textareaViewer" name="textareaViewer"
                          style="font-family: 'courier new', monospace; background-color: #ffffff; cursor: auto;">{% if file %}{{ file.file_contents }}{% endif %}</textarea>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label" for="id_name">File Name</label>
                    {{ file_form.name }}
                </div>
            </div>
            <div class="col-xs-2">
                <label class="control-label">Schema Name</label><br>
                <div style="line-height: 38px;">{{ schema.name }}</div>
            </div>
            <div class="col-xs-2">
                <label class="control-label">Version</label><br>
                <div style="line-height: 38px;">{{ version.identifier }}</div>
            </div>
            <div class="col-xs-2">
                <label class="control-label">Delimiter</label><br>
                <div style="line-height: 38px;">{{ version.delimiter }}</div>
            </div>
{#            <div class="col-xs-2">#}
{#                <label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;Validation</label><br>#}
{#                <button type="button" name="validation_schema_to_input" id="validation_input_to_schema" class="btn btn-success btn-sm" style="width: 40%;" title="Generate Schema based on Input">Input</button>#}
{#                <button type="button" name="validation_input_to_schema" id="validation_schema_to_input" class="btn btn-success btn-sm" style="width: 40%" title="Generate Input based on Schema">Schema</button>#}
{#            </div>#}
        </div>

        <hr>

        <div class="row">
            <div class="col-xs-4">
                <label for="inputRecordNumber" class="control-label">How many records to generate?&nbsp;</label>
                <input id="inputRecordNumber" type="text" class="form-control input-sm" style="width: 100px; display: inline; text-align: center;">
            </div>
            <div class="col-xs-2">
                <button type="button" id="buttonGenerate" class="btn btn-success btn-sm" style="width: 100%;" title="Generate data to inputs">Generate&nbsp;<i class="fa fa-arrow-circle-o-right fa-fw"></i></button>
            </div>
            <div class="col-xs-6">
            </div>
        </div>

        <div class="row">
            <div class="col-md-11">
                {% if fields %}
                    <table id="tableDefinitions" class="table">
                        <thead>
                            <tr>
                                <th class="col-xs-3">Field Name</th>
                                <th class="col-xs-2">Field Length</th>
                                <th class="col-xs-2">Field Type</th>
                                <th class="col-xs-2">Data Generator</th>
                                <th class="col-xs-2">Generator Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for field in fields %}
                            <tr data-row="{{ field.position|add:-1 }}">
                                <td style="line-height: 38px;">
                                {{ field.name }}
                                <input type="hidden" id="field_type_{{ field.position|add:-1 }}" name="field_type_{{ field.position|add:-1 }}" value="{{ field.type }}">
                                <input type="hidden" id="field_length_{{ field.position|add:-1 }}" name="field_length_{{ field.position|add:-1 }}" value="{{ field.length }}">
                                </td>
                                <td>{{ field.length }}</td>
                                <td>{{ field.type }}</td>
                                <td class="data-generator-select">
                                    <select class="form-control" onchange="specifyModal(this)">
                                        {% if field.type == 'Number' %}
                                            {% for column in number_columns %}
                                                <option data-payload="{}">{{ column }}</option>
                                            {% endfor %}
                                        {% else %}
                                            {% for column in file_columns %}
                                                <option data-payload="{}">{{ column }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </td>
{#                                <td class="data-generator-params" style="line-height: 38px;">#}
{#                                    <a href="#" data-toggle="modal" data-target="#text-modal"><i class="fa fa-pencil-square-o fa-lg"></i></a>#}
{#                                </td>#}
                                <td class="data-generator-params">
                                    <select class="form-control" onchange="openParamsModal(this, '{{ field.type }}', '{{ field.length }}')">
                                        <option value="specify">- Select -</option>
                                        {% if field.type == 'Number' %}
                                            {% for key in column_parameters.number %}
                                                <option value="number_{{ key|lower }}">{{ key }}</option>
                                            {% endfor %}
                                        {% else %}
                                            {% for key in column_parameters.text %}
                                                <option value="text_{{ key|lower }}">{{ key }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <br><br>
                <p> No fields have been added to this schema version.</p>
            {% endif %}
            </div>
            <div class="col-md-6" hidden>
                <div class="table-responsive" id="add_records" style="overflow: auto;">

                </div>
            </div>
        </div>
    </form>

    </div>

    {% include 'schemas/modal_columns_config.html' %}


{% endblock %}
{% block endscript %}
    <script type="text/javascript">
        var version_delimiter = '{{ version.delimiter }}';
        {% include 'schemas/schemas.js' %}
    </script>
{% endblock %}