{% extends 'core/base.html' %}
{% block title %}Schema Editor{% endblock %}
{% block headscript %}

{% endblock %}
{% block content %}
    <div class="container">
        {% if state == 'edit' %}
        <form id="formSchema" action="{% url 'schemas:edit_version' client.id schema.id version.id %}" method="POST">
        {% else %}
        <form id="formSchema" action="{% url 'schemas:create_schema' client.id %}" method="POST">
        {% endif %}
            {% csrf_token %}
            <input type="hidden" name="client_id" value="{{ client.id }}">
            <input type="hidden" name="state" value="{{ state }}">
            <input type="hidden" name="row_order" value="">

            <div class="row">
                <div class="col-xs-8">
                    <h3>{{ client.name }}</h3>
                </div>
                <div class="col-xs-2">
                    <button name="update_viewer" class="btn btn-primary" style="width: 100%;">
                        <i class="fa fa-refresh"></i>&nbsp;Refresh
                    </button>
                </div>
                <div class="col-xs-2">
                    <button type="submit" name="save_schema" class="btn btn-primary" style="width: 100%;">
                        <i class="fa fa-floppy-o"></i>&nbsp;Save
                    </button>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-xs-12">
                    <textarea class="form-control" rows="5" id="textareaViewer"
                              style="font-family: 'courier new', monospace; background-color: #ffffff; cursor: auto;" readonly></textarea>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label" for="inputSchemaName">Schema Name</label>
                        {{ schema_form.name }}
                        <input id="id_client" name="client" value="{{ client.id }}" hidden>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="control-label col-xs-12">Delimiter</label>

                        <table id="tableDelimiter" class="col-xs-12">
                            <tr>
                                {% for choice in version_form.delimiter %}
                                    <td class="col-xs-4" style="line-height: 38px;">

                                        {{ choice.tag }} &nbsp;<strong>{{ choice.choice_label }}</strong>
                                    </td>
                                {% endfor %}

                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="form-group">
                        <label class="control-label" for="inputVersion">Version</label>
                        {{ version_form.identifier }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table id="tableFields" class="table table-hover sort">
                        <thead>
                        <tr>
                            <th class="col-xs-5">
                                Field Name
                            </th>
                            <th class="col-xs-2">
                                Length
                            </th>
                            <th class="col-xs-2">
                                Type
                            </th>
{#                            <th class="col-xs-1 text-center">#}
{#                                Unique#}
{#                            </th>#}
                            <th class="col-xs-1">

                            </th>
                            <th class="col-xs-1">
                                <button id="buttonAddField" class="btn btn-success btn-xs" style="width: 100%;">Add Field
                                </button>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>

    {% include 'schemas/modal_version.html' %}

{% endblock %}
{% block endscript %}
    <script type="text/javascript">
        var counter = 0;
        var unsavedChanges = false;

        function formChangeHandler() {
            unsavedChanges = true;
        }

        var sortableHelper = function (e, ui) {
            ui.children().each(function () {
                $(this).width($(this).width());
            });
            return ui;
        };

        function deleteRow(row) {
            event.preventDefault();
            formChangeHandler();
            $(row).closest('tr').remove();
        }

        function updateViewer() {
            var delimiterType = $("#tableDelimiter input[type='radio']:checked").val();
            delimiter = ''; // for Fixed
            if (delimiterType == 'Pipe') {
                delimiter = '|';
            } else if (delimiterType == 'Comma') {
                delimiter = ',';
            }
            var s = "";
            $("#tableFields tbody tr").each(function() {
                var fieldName = $(this).find("input[name^='inputFieldName']").val();
                s += fieldName + delimiter;
            });
            var len = delimiter.length;
            s = s.substring(0, s.length - len);
            $('#textareaViewer').val(s);
        }

        $("button[name='update_viewer']").on('click', function (event) {
            event.preventDefault();
            updateViewer();
        })

        $("button[name='save_schema']").on('click', function (event) {
            var s = "";
            $("#tableFields tbody tr").each(function() {
                s = s + this.id + " ";
            });
            $('input[name="row_order"]').val(s);

            var version_name_new = $("input[name='identifier']").val();
            var delimiterType = $("#tableDelimiter input[type='radio']:checked").val();

            if (( '{{ version.identifier }}' != version_name_new ) &&
                    ( '{{ schema.name }}' == $("input[name='name']").val()) &&
                    ( delimiterType == '{{ version.delimiter }}')) {
                event.preventDefault();
                $('#modal_version_name_new_display').html(version_name_new);
                $('#modal_version_name').val(version_name_new);
                $('#modal_create_version').modal('show');
            }
            unsavedChanges = false;
        });

        function populateFields() {
            {% for f in fields %}
                counter++;
                $('table#tableFields').append($(
                    '<tr id="' + counter + '">' +
                    '<td>' +
                    '<input type="hidden" name="hiddenFieldId_' + counter + '" value="{% if f.id %}{{ f.id }}{% endif %}">' +
                    '<input type="text" onchange="formChangeHandler();" class="form-control" name="inputFieldName_' + counter + '" placeholder="Field Name" value="{{ f.name }}">' +
                    '</td>' +
                    '<td>' +
                    '<input type="text" onchange="formChangeHandler();" class="form-control" name="inputFieldLength_' + counter + '" placeholder="10" value="{{ f.length }}">' +
                    '</td>' +
                    '<td>' +
                    '<select onchange="formChangeHandler();" class="form-control" name="selectFieldType_' + counter + '">' +
                    '<option{% if f.type == "Text" %} selected{% endif %}>Text</option>' +
                    '<option{% if f.type == "Number" %} selected{% endif %}>Number</option>' +
                    '</select>' +
                    '</td>' +
{#                    '<td class="text-center" style="line-height: 38px;">' +#}
{#                    '<input type="checkbox" name="checkFieldUnique_' + counter + '"{% if f.unique %} checked{% endif %}>' +#}
{#                    '</td>' +#}
                    '<td class="text-center" style="line-height: 38px;">' +
                    '<i class="fa fa-arrows fa-lg" style="cursor: move;"></i>' +
                    '</td>' +
                    '<td class="text-center" style="line-height: 38px;">' +
                    '<a href="#" onclick="deleteRow(this);"><i class="fa fa-trash-o fa-lg"></i></a>' +
                    '</td>' +
                    '</tr>'
                ));

            {% endfor %}

            sortable_edit_ff();
        }

        // Jquery UI Sortable disableSelection Firefox issue
        function sortable_edit_ff() {
            $('input[type=text]').bind('mousedown.ui-disableSelection selectstart.ui-disableSelection', function(event) {
                event.stopImmediatePropagation();
            });

            $('select').bind('mousedown.ui-disableSelection selectstart.ui-disableSelection', function(event) {
                event.stopImmediatePropagation();
            });
        }

        $(function () {
            $("input").change(function(){
                formChangeHandler();
            });

            $(".sort tbody").sortable({
                helper: sortableHelper
            }).disableSelection();

            $(window).bind('beforeunload', function () {
                if (unsavedChanges) {
                    return 'There are unsaved changes.';
                }
            });

            $('#buttonAddField').click(function (event) {
                event.preventDefault();
                unsavedChanges = true;
                counter++;
                var newRow = $('<tr id="' + counter + '">' +
                            '<td>' +
                            '<input type="text" onchange="formChangeHandler();" class="form-control" name="inputFieldName_' + counter + '" placeholder="Field Name">' +
                            '</td>' +
                            '<td>' +
                            '<input type="text" onchange="formChangeHandler();" class="form-control" name="inputFieldLength_' + counter + '" placeholder="Example: 10 digits">' +
                            '</td>' +
                            '<td>' +
                            '<select onchange="formChangeHandler();" class="form-control" name="selectFieldType_' + counter + '">' +
                            '<option>Text</option>' +
                            '<option>Number</option>' +
                            '</select>' +
                            '</td>' +
{#                            '<td class="text-center" style="line-height: 38px;">' +#}
{#                            '<input type="checkbox" name="checkFieldUnique_' + counter + '">' +#}
{#                            '</td>' +#}
                            '<td class="text-center" style="line-height: 38px;">' +
                            '<i class="fa fa-arrows fa-lg" style="cursor: move;"></i>' +
                            '</td>' +
                            '<td class="text-center" style="line-height: 38px;">' +
                            '<a href="#" onclick="deleteRow(this);"><i class="fa fa-trash-o fa-lg"></i></a>' +
                            '</td>' +
                            '</tr>');
                $('table#tableFields').append(newRow);

                sortable_edit_ff();
            });

            populateFields();
        });
    </script>
{% endblock %}