{% extends 'core/base.html' %}
{% block title %}Schema Editor{% endblock %}
{% block headscript %}

{% endblock %}
{% block content %}
    <div class="container">
    <form action="{% url 'schemas:save_schema' client.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="client_id" value="{{ client.id }}">
        <input type="hidden" name="state" value="{{ state }}">
        <div class="row">
            <div class="col-xs-10">
                <h3>{{ client.name }}</h3>
            </div>
            <div class="col-xs-2">
                <button type="submit" name="save_schema" class="btn btn-primary" style="width: 100%;">
                    <i class="fa fa-floppy-o"></i>&nbsp;Save
                </button>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-xs-12">
                <textarea class="form-control" rows="5" id="textAreaDisplay"
                          style="font-family: 'courier new', monospace"></textarea>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label" for="inputSchemaName">Schema Name</label>
                    {{ schema_form.name }}
                    <input id="id_client" name="client" value="{{ client.id }}" hidden>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label class="control-label col-xs-12">Delimiter</label>

                    <table class="col-xs-12">
                        <tr>
                            {% for choice in version_form.delimiter %}
                            <td class="col-xs-4" style="line-height: 38px;">

                                {{ choice.tag }} &nbsp;<strong>{{ choice.choice_label }}</strong>
                            </td>
                            {% endfor %}

                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group">
                    <label class="control-label" for="inputVersion">Version</label>
                    {{ version_form.identifier }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="col-xs-5">
                            Field Name
                        </th>
                        <th class="col-xs-2">
                            Length
                        </th>
                        <th class="col-xs-2">
                            Type
                        </th>
                        <th class="col-xs-2 text-center">
                            Constraints
                        </th>
                        <th class="col-xs-1">
                            <button class="btn btn-success btn-xs" style="width: 100%;"><i class="fa fa-plus"></i>&nbsp;Field
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <input type="text" class="form-control" id="inputFieldName" placeholder="Field Name">
                        </td>
                        <td>
                            <input type="text" class="form-control" id="inputFieldLength" placeholder="10">
                        </td>
                        <td>
                            <select class="form-control" id="selectFieldType">
                                <option>Number</option>
                                <option>String</option>
                            </select>
                        </td>
                        <td class="text-center" style="line-height: 38px;">
                            <a href="#"><i class="fa fa-edit fa-lg"></i></a>
                        </td>
                        <td class="text-center" style="line-height: 38px;">
                            <a href="#"><i class="fa fa-trash-o fa-lg"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>

    {% for schema in client_schemas %}
        {{ schema.name }} - {{ schema.client.name }} <br>
    {% endfor %}

    </div>
{% endblock %}
{% block endscript %}
    <script type="text/javascript">
        $(function () {

        });
    </script>
{% endblock %}